In [1]:
import pandas as pd

In [19]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [10]:
data_1 = pd.read_csv('transactions.csv')
data_1.head()

  Year;Month;ID;Product;Amount;Price;Total;Cost
0              2012;1;t001;A1;7;2904;20328;1200
1               2012;1;t002;A2;2;1896;3792;1100
2              2012;2;t003;A1;5;2904;14520;1200
3               2012;2;t004;A4;1;8618;8618;4200
4               2012;2;t005;A5;3;5175;15525;500

In [15]:
data_2 = pd.read_csv('transactions_data.csv')
len(data_2)

60

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1189482 entries, 0 to 1189481
Data columns (total 4 columns):
country     1189482 non-null object
year        1189482 non-null int64
quantity    1189482 non-null float64
category    1189482 non-null int64
dtypes: float64(1), int64(2), object(1)
memory usage: 36.3+ MB

In [17]:
data.shape

(1189482, 4)

In [20]:
len(data['country'].unique())

243

In [22]:
data_2['Product'].value_counts()

_5    11
_2     8
_8     8
_4     7
_3     7
A1     5
A5     5
A4     5
A2     2
_6     2
Name: Product, dtype: int64