In [3]:
import pandas as pd 
data = pd.read_csv('power.csv')
average_level = data['quantity'].mean()
country_stats = data.filter(items = ['country', 'quantity'])
above_average = country_stats.query('quantity > {}'.format(average_level))
above_average['country'].value_counts()

United States                3318
China                        2086
Russian Federation           1820
Japan                        1164
India                        1025
Germany                       989
Canada                        962
United Kingdom                676
Ukraine                       658
Indonesia                     616
Italy                         589
Brazil                        564
Iran (Islamic Rep. of)        563
Australia                     531
Mexico                        517
France                        510
Saudi Arabia                  449
Kazakhstan                    416
Korea, Republic of            415
Venezuela (Bolivar. Rep.)     409
Poland                        405
Nigeria                       368
Netherlands                   364
Argentina                     359
Algeria                       351
United Arab Emirates          338
Romania                       321
Uzbekistan                    314
Spain                         314
Malaysia                      293
                             ...
Cuba                           10
Slovenia                       10
Chad                           10
Senegal                         9
Swaziland                       9
Lithuania                       9
Lao People's Dem. Rep.          9
Jamaica                         8
Portugal                        8
Ethiopia, incl. Eritrea         7
Latvia                          7
Nepal                           6
Bosnia and Herzegovina          5
Serbia and Montenegro           4
T.F.Yug.Rep. Macedonia          4
Costa Rica                      4
Mauritania                      3
Guinea                          3
Uganda                          3
Zambia                          2
Malawi                          2
Niger                           2
Montenegro                      2
Bhutan                          2
Paraguay                        2
Yemen Arab Rep. (former)        1
South Sudan                     1
Cyprus                          1
Sudan                           1
Benin                           1
Name: country, Length: 142, dtype: int64

In [15]:
data[ data['quantity'] > average_level ].head()
len(data[ data['country'].str.contains('state', case=False) ]['country'].unique())

6

In [17]:
filtered_countries = data[ (data['country']=='Russian Federation') | (data['country']=='Belarus') ]

filtered_countries['year'].value_counts()

2010    1215
2008    1203
2009    1192
2011    1191
2012    1183
2014    1171
2013    1163
2007    1150
2006    1146
2005    1040
2003     997
2004     993
2000     984
2002     982
2001     972
1999     942
1998     934
1997     914
1995     898
1996     896
1993     860
1994     857
1992     814
Name: year, dtype: int64

In [51]:
data.sort_values(by='quantity').head()
data.sort_values(by='quantity', ascending=False)
data.sort_values(by=['country', 'year'], ascending=[True, True]).head()
data.sort_values(by=['country', 'year', 'quantity'], ascending=[True, True, False], inplace=True)
data_1 = pd.read_csv('transactions.csv')
data_1.sort_values(by='Cost').head()

KeyError: 'Cost'