In [1]:
from bs4 import BeautifulSoup
import pandas as pd
url = 'http://www.cbr.ru'
r = requests.get(url)

NameError: name 'requests' is not defined

In [2]:
pd.read_html(url)[3]

                 0           1
0  рублей за грамм  12.01.2019
1        Золото Au    2 781,36
2       Серебро Ag        3379
3       Платина Pt    1 770,62
4      Палладий Pd    2 852,78

In [4]:
soup = BeautifulSoup(open('cbr.html', 'r'), 'html.parser')

In [5]:
data = soup.find(class_='widget type_table name_metal opened').find(class_='content').find('table')

In [7]:
df = pd.read_html(str(data))[0]
df

                 0           1
0  рублей за грамм  06.09.2018
1        Золото Au   ↑2 629,69
2       Серебро Ag      ↓31,19
3       Платина Pt   ↓1 703,67
4      Палладий Pd   ↑2 161,51

In [8]:
from yaml import load
f = open('config_example.yaml', mode = 'r', encoding = 'utf-8')
config = load(f)

In [9]:
config

{'access_token': 'g6434uqghoq374gh3qh38ry24orh24h3rjg03q',
 'mysql': {'host': '10.0.108.8',
  'port': 3306,
  'database': 'scoring',
  'user': 'defaultuser',
  'password': 'passw@rd'},
 'cities': ['Москва',
  'Санкт-Петербург',
  'Волгоград',
  'Новороссийск',
  'Тула',
  'Мурманск',
  'Смоленск',
  'Севастополь',
  'Одесса',
  'Киев',
  'Керчь',
  'Минск']}

In [10]:
token = config['access_token']
print(token)

g6434uqghoq374gh3qh38ry24orh24h3rjg03q

In [11]:
database_host = config['mysql']['host']
print(database_host)

10.0.108.8

In [12]:
print(config['cities'])

['Москва', 'Санкт-Петербург', 'Волгоград', 'Новороссийск', 'Тула', 'Мурманск', 'Смоленск', 'Севастополь', 'Одесса', 'Киев', 'Керчь', 'Минск']