In [3]:
import pandas as pd
data = pd.read_csv('sales_data.csv', sep =';')
data.head()

   month  2016  2017  2018
0      1   513   465   500
1      2   534   481   523
2      3   608   553   580
3      4   620   561   593
4      5   577   563   600

In [11]:
import plotly
plotly.tools.set_credentials_file(username='LancelotLake',api_key='Vz4wmKpzfHlqQ6MYeNyE')
import plotly.plotly as py
import plotly.graph_objs as go
trace = go.Table(
    header=dict(values=list(data.columns),
                fill = dict(color='#C2D4FF'),
                align = ['left', 'right', 'right',
                        'right']),
    cells=dict(values=[data['month'], data['2016'],
                      data['2017'], data['2018']],
                fill = dict(color='#F5F8FF'),
                align = ['left'] + ['right']*3))
py.iplot([trace], filename='pandas_table')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~LancelotLake/0 or inside your plot.ly account where it is named 'pandas_table'