In [22]:
import httplib2
import argparse
from apiclient import discovery
from oauth2client import client
from oauth2client import tools
from oauth2client.file import Storage

In [23]:
SCOPES = 'https://www.googleapis.com/auth/spreadsheets'
CLIENT_SECRET_FILE ='client_secret_grants.json'
APPLICATION_NAME ='Google Sheets API Report'
credential_path = 'sheets.googleapis.com-report.json'

In [24]:
store = Storage(credential_path)
credentials = store.get()
parser = argparse.ArgumentParser(formatter_class=argparse.RawDescriptionHelpFormatter, parents=[tools.argparser])
flags = parser.parse_args([])
if not credentials or credentials.invalid:
    flow = client.flow_from_clientsecrets(CLIENT_SECRET_FILE, SCOPES)
    flow.user_agent = APPLICATION_NAME
    if flags:
        credentials = tools.run_flow(flow, store, flags)
    print('Storing credentials to ' + credential_path)

In [38]:
http = credentials.authorize(httplib2.Http())
discoveryUrl = ('https://sheets.googleapis.com/$discovery/rest?version=v4')
service = discovery.build('sheets', 'v4', http = http, discoveryServiceUrl = discoveryUrl)

In [41]:
spreadsheetId = '1v_BJppYtDnFTZAIVH_crUMtkbrcShOS1cXCCPYBvb50'
rangeName = 'A1:C10'

[['Партнер', 'utm_source', 'utm_medium'], ['СМИ2', 'smi2', 'cpm'], ['РБК', 'rbc', 'cpc'], ['Infox', 'infox', 'cpc'], ['Infox', 'infox-action', 'cpa']]

In [43]:
import pandas as pd

In [44]:
headers = values[0]
rows = values[1:]

In [47]:
data1 = pd.DataFrame.from_records(rows, columns = headers)

In [48]:
data1

  Партнер    utm_source utm_medium
0    СМИ2          smi2        cpm
1     РБК           rbc        cpc
2   Infox         infox        cpc
3   Infox  infox-action        cpa

In [76]:
data2 = pd.read_csv('metrika_data.txt', sep = '\t')

In [77]:
data2

     utm_source utm_medium  sales
0         infox        cpc   1534
1          smi2        cpm   1495
2  infox-action        cpa    735
3           rbc        cpc     59

In [78]:
joined = data1.merge(data2, on = 'utm_source', how = 'left')

In [79]:
joined

  Партнер    utm_source utm_medium_x utm_medium_y  sales
0    СМИ2          smi2          cpm          cpm   1495
1     РБК           rbc          cpc          cpc     59
2   Infox         infox          cpc          cpc   1534
3   Infox  infox-action          cpa          cpa    735

In [96]:
sum(joined.loc[joined['Партнер'] == 'Infox', 'sales'])

2269