In [1]:
from datetime import datetime 
import pandas as pd

In [8]:
def datetime_to_date(line):
    date_string = line['date'] 
    try:
        date_datetime = datetime.strptime(date_string, '%d.%m.%Y %H:%M')
    except ValueError:
        try:
            date_datetime = datetime.strptime(date_string, '%d.%m.%YT %H:%M:%S')
        except:
            return 'undefined'
    return date_datetime.strftime('%Y-%m-%d')

In [9]:
data = pd.read_csv('real_data_no_header.txt', sep = '\t', names = ['id','date','user_id','duration','medium','source','cost','order_id','amount_paid'])

In [10]:
data['dateTime'] = data.apply(datetime_to_date, axis = 1)

In [12]:
data.dropna(axis = 0, inplace = True)

In [14]:
def change_cpa_revenue(row):
    amount_paid = float(row['amount_paid'].replace(',','.'))
    if row['medium'] == 'cpa-partners':
        return amount_paid / 1000000
    else: 
        return amount_paid

In [15]:
data['amount_paid_corrected'] = data.apply(change_cpa_revenue, axis =1 )

In [17]:
data.groupby('dateTime').mean()

                      id      user_id     order_id  amount_paid_corrected
dateTime
2016-10-01  38854.550000  1192.950000  4970.650000              16.030000
2016-10-02  39094.954545  1242.090909  5387.772727              16.990909
2016-10-03  38598.200000  1268.950000  6190.200000              18.770000
2016-10-04  39726.041667  1205.625000  5110.125000              18.108333
2016-10-05  39208.400000  1225.040000  5605.640000              16.456000
2016-10-06  38540.600000  1225.850000  5651.100000              17.080000
2016-10-07  38700.500000  1202.454545  5258.772727              18.445455
2016-10-08  38029.823529  1222.352941  5484.235294              18.141176
2016-10-09  37946.105263  1190.842105  4783.263158              18.810526
2016-10-10  36155.000000  1182.000000  6742.000000              17.000000