In [10]:
import pandas as pd
data  = pd.read_csv('keywords.csv')

geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
data.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [17]:
def geo_classification(row):
    for region,city_list in geo_data.items():
        for city in city_list:
            if city in row['keyword']:
                return region
    return 'undefinded'

data['city_group'] = data.apply(geo_classification, axis = 1)
data.groupby('city_group').count().head()

                keyword  shows
city_group
undefinded        99253  99253
Дальний Восток       94     94
Северо-Запад        266    266
Центр               387    387