In [16]:
import pandas as pd 
data = pd.read_csv('keywords.csv')
data['dialy_shows'] = data['shows']/11
data['ratio'] = data['dialy_shows'] / data['shows']
# data.drop(['ratio'], axis = 1, inplace = True)
del data['ratio']
# data.drop(['keyword', 'shows', 'ratio'], axis=1, inplace=True)

In [17]:
data = data[ data['keyword'].str.contains('недвиж') ]
data.loc[:, 'split'] = data['keyword'].str.split(' ')

In [18]:
data.head()

,keyword,shows,dialy_shows,split
2806,циан недвижимость москва,78729,7157.181818,"[циан, недвижимость, москва]"
3054,авито недвижимость,74037,6730.636364,"[авито, недвижимость]"
3066,недвижимость,72984,6634.909091,[недвижимость]
4273,е1 недвижимость,56277,5116.090909,"[е1, недвижимость]"
4912,нгс недвижимость новосибирск,54149,4922.636364,"[нгс, недвижимость, новосибирск]"

In [19]:
data['word_count'] = data['split'].apply(lambda x: len(x))

In [20]:
data.head()

,keyword,shows,dialy_shows,split,word_count
2806,циан недвижимость москва,78729,7157.181818,"[циан, недвижимость, москва]",3
3054,авито недвижимость,74037,6730.636364,"[авито, недвижимость]",2
3066,недвижимость,72984,6634.909091,[недвижимость],1
4273,е1 недвижимость,56277,5116.090909,"[е1, недвижимость]",2
4912,нгс недвижимость новосибирск,54149,4922.636364,"[нгс, недвижимость, новосибирск]",3

In [31]:
data['dialy_shows'] = data['dialy_shows'].apply(lambda x: int(x))

In [32]:
data.head()

,keyword,shows,dialy_shows,split,word_count
2806,циан недвижимость москва,78729,7157,"[циан, недвижимость, москва]",3
3054,авито недвижимость,74037,6730,"[авито, недвижимость]",2
3066,недвижимость,72984,6634,[недвижимость],1
4273,е1 недвижимость,56277,5116,"[е1, недвижимость]",2
4912,нгс недвижимость новосибирск,54149,4922,"[нгс, недвижимость, новосибирск]",3

In [36]:
data['word_count'].value_counts()

3    72
2    25
4    20
5    12
6     7
8     3
9     1
7     1
1     1
Name: word_count, dtype: int64