In [1]:
import pandas as pd
import numpy as np 
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
joined = ratings.merge(movies,on='movieId',how='left')

In [8]:
genres = ['Drama', 'Action', 'Thriller', 'Comedy', 'Romance', 'War', 'Mystery', 'Crime']
def genres_ratings(row):
    return pd.Series([row['rating']if genre in row['genres'] else np.NaN for genre in genres])

In [9]:
joined[genres] = joined.apply(genres_ratings,axis=1)
joined.head()

,userId,movieId,rating,timestamp,title,genres,Drama,Action,Thriller,Comedy,Romance,War,Mystery,Crime
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,2.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
for genre in genres:
    print('{} mean rating {:.4f}'.format(genre,joined[genre].mean()))

Drama mean rating 3.6818
Action mean rating 3.4456
Thriller mean rating 3.5185
Comedy mean rating 3.4460
Romance mean rating 3.5562
War mean rating 3.8172
Mystery mean rating 3.6795
Crime mean rating 3.6796

In [32]:
for genre in genres:
    print('{} {}'.format(genre,sum(joined[genre].value_counts())))

Drama 44752
Action 27056
Thriller 25240
Comedy 38026
Romance 19336
War 5025
Mystery 7625
Crime 16266