In [1]:
import pandas as pd
data = pd.read_csv('ratings.csv')
data_pivot = data.pivot_table(index=['movieId','rating'],values='timestamp',aggfunc='count').reset_index()

In [2]:
data_pivot.head()

   movieId  rating  timestamp
0        1     1.0          4
1        1     1.5          3
2        1     2.0         13
3        1     2.5          4
4        1     3.0         41

In [3]:
data_pivot.groupby('movieId').timestamp.transform(lambda x:x)

0         4
1         3
2        13
3         4
4        41
5        23
6        77
7        19
8        63
9         1
10       12
11        6
12       37
13       10
14       27
15        1
16       13
17        1
18        3
19        2
20        9
21        2
22       18
23        2
24       13
25        2
26        7
27        3
28        1
29        1
         ..
28645     1
28646     1
28647     1
28648     1
28649     1
28650     1
28651     1
28652     1
28653     1
28654     1
28655     1
28656     1
28657     1
28658     1
28659     1
28660     1
28661     1
28662     1
28663     1
28664     1
28665     1
28666     1
28667     1
28668     1
28669     1
28670     1
28671     1
28672     1
28673     1
28674     1
Name: timestamp, Length: 28675, dtype: int64

In [4]:
data_pivot['sum']=data_pivot.groupby('movieId').timestamp.transform(lambda x:sum(x))
data_pivot.head()

   movieId  rating  timestamp  sum
0        1     1.0          4  247
1        1     1.5          3  247
2        1     2.0         13  247
3        1     2.5          4  247
4        1     3.0         41  247

In [5]:
data_pivot['share']=data_pivot['timestamp']/data_pivot['sum']
data_pivot.head()

   movieId  rating  timestamp  sum     share
0        1     1.0          4  247  0.016194
1        1     1.5          3  247  0.012146
2        1     2.0         13  247  0.052632
3        1     2.5          4  247  0.016194
4        1     3.0         41  247  0.165992

In [8]:
data_pivot[data_pivot['movieId'] == 1]['share'].sum()

1.0